<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1
            return Color3B::BLACK;
        case 2:
            return Color3B::RED;
        case 3:
            return Color3B::YELLOW;
        case 4:
            return Color3B::ORANGE;
        case 5:
            return Color3B::MAGENTA;
        case 6:
            return Color3B::GREEN;
        case 7:
            return Color3B::GRAY;
        case 8:
            return Color3B::BLUE;
        case 9:
            return Color3B::WHITE;
case 1:
            return Color3B::BLACK;
        case 2:
            return Color3B::RED;
        case 3:
            return Color3B::YELLOW;
        case 4:
            return Color3B::ORANGE;
        case 5:
            return Color3B::MAGENTA;
        case 6:
            return Color3B::GREEN;
        case 7:
            return Color3B::GRAY;
        case 8:
            return Color3B::BLUE;
        case 9:
            return Color3B::WHITE;
1</key>
	<string>black</string>
	<key>2</key>
	<string>red</string>
</dict>
</plist>
